@import "bootstrap/scss/bootstrap.scss";


/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.red {
    background-color: red;

}

.red-shadow {
    box-shadow: 0px 0px 10px 10px red;
}

.orange {
    background-color: orange;
}

.orange-shadow {
    box-shadow: 0px 0px 10px 10px orange;
}

.green {
    background-color: green;
}

.green-shadow {
    box-shadow: 0px 0px 10px 10px green;
}

.square {
    background-color: black;
    width: 150px;
    height: 370px;
    border-radius: 70px;
}

.stick {
    width: 20px;
    height: 5vh;
    background-color: black;

}


body {
    margin: 0;
    padding: 0;
    background-image: url("../img/CDMX.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}